xsd/response.xsd

<?xml version="1.0" encoding="UTF-8"?>
	<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns="http://ws.plimus.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0"
	targetNamespace="http://ws.plimus.com">
	<xs:element name="web-authentication">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="token" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="token">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="batch-order">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="shopper"/>
				<xs:element ref="order"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="catalog-sku">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sku-id" minOccurs="0"/>
				<xs:element ref="sku-name" />
				<!-- In the future, the contact name should be deprecated once we deprecate the product WS - we will have only SKUs -->
				<xs:element ref="contract-name" minOccurs="0"/>
				<!-- In the future, the product id should be deprecated once we deprecate the product WS - we will have only SKUs -->
				<xs:element ref="product-id" minOccurs="0"/>
				<xs:element ref="sku-status" />
				<xs:element ref="sku-type" />
				<xs:element ref="pricing-settings" />
				<xs:element ref="sku-image" />
				<xs:element ref="sku-buynow-urls" />
				<xs:element ref="sku-quantity-policy" />
				<xs:element ref="collect-shipping-address" />
				<xs:element ref="sku-effective-dates" />
				<xs:element ref="sku-coupon-settings" />
				<xs:element ref="sku-custom-parameters" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="pricing-settings">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="charge-policy-type" />
				<xs:element ref="charge-policy" />
				<xs:element ref="include-tax-in-price" />
				<xs:element ref="rounding-price-method" />
				<xs:element ref="recurring-plan-settings" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="recurring-plan-settings">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="charge-upon-plan-change" />
				<xs:element ref="grace-period-length" />
				<xs:element ref="plan-charge-amount-limit" />
				<xs:element ref="plan-duration-period" />
				<xs:element ref="plan-max-charge-number-limit" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="charge-policy">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="free-trial" />
				<xs:element ref="one-time-charge" />
				<xs:element ref="initial-period"  />
				<xs:element ref="recurring-period"  />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="free-trial">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="period-length" />
				<xs:element ref="interval" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sku-custom-parameters">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sku-custom-parameter"  minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sku-custom-parameter">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="url" minOccurs="0" />
				<xs:element ref="custom-param-id" minOccurs="0" />
				<xs:element ref="index-number" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="index-number">
		<xs:simpleType>
			<xs:restriction base="xs:decimal" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="one-time-charge">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="catalog-prices" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="initial-period">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="catalog-prices" />
				<xs:element ref="period-length" />
				<xs:element ref="interval" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="recurring-period">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="catalog-prices" />
				<xs:element ref="period-frequency" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="catalog-prices">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="catalog-price" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="catalog-price">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="base-price" minOccurs="0"/>
				<xs:element ref="currency" />
				<xs:element ref="amount" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sku-effective-dates">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="effective-from" />
				<xs:element ref="effective-till" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sku-quantity-policy">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="allow-quantity-change" />
				<xs:element ref="minimum-quantity" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sku-buynow-urls">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="buynow-url" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="buynow-url">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="url-description" />
				<xs:element ref="url" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sku-coupon-settings">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sku-coupon-setting" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="url-description">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="sku-image">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="sku-type">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="collect-shipping-address">
		<xs:simpleType>
			<xs:restriction base="xs:boolean" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="effective-from">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="effective-till">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="allow-quantity-change">
		<xs:simpleType>
			<xs:restriction base="xs:boolean" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="base-price">
		<xs:simpleType>
			<xs:restriction base="xs:boolean" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="minimum-quantity">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="buynow1-url">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="sku-initial-price">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="currency" />
				<xs:element ref="amount" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sku-recurring-price">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="currency" />
				<xs:element ref="amount" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="charge-policy-type">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="subscription-plan-frequency">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="subscription-trial-period">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="plan-duration-period">
		<xs:simpleType>
			<xs:restriction base="xs:decimal" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="charge-upon-plan-change">
		<xs:simpleType>
			<xs:restriction base="xs:boolean" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="grace-period-length">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="plan-charge-amount-limit">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="currency" />
				<xs:element ref="amount" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="include-tax-in-price">
		<xs:simpleType>
			<xs:restriction base="xs:boolean" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="rounding-price-method">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="sku-coupon-setting">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="plan-max-charge-number-limit">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="period-length">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="interval">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="period-frequency">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="number-of-charges">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="zip">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="state">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="last-name">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="first-name">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="country">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="city">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="address2">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="address1">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="batch-coupon">
		<xs:complexType>
			<xs:sequence>				
				<xs:element ref="cart-info"/>
				<xs:element ref="coupons-info" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>	
	<xs:element name="coupons-info">
		<xs:complexType>
			<xs:sequence>				
				<xs:element ref="coupon-info" minOccurs="0"
					maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="coupon-info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="coupon-id"  minOccurs="0"/>
				<xs:element ref="product-owner-id" minOccurs="0"/>
				<xs:element ref="coupon-name"/>
				<xs:element ref="coupon-display-name"/>
				<xs:element ref="minimal-amount" />
				<xs:element ref="usage-count-limit"/>
				<xs:element ref="coupon-effective-date"/>
				<xs:element ref="coupon-expiration-date" minOccurs="0"/>
				<xs:element ref="one-per-email"/>
				<xs:element ref="apply-recurring-charges"/>
				<xs:element ref="applicable-cycles" minOccurs="0"/>
				<xs:element ref="coupon-discount-policy"/>								
				<xs:element ref="coupon-rules"/>
				<xs:element ref="coupon-codes-info"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="coupon-rules">
		<xs:complexType>
			<xs:sequence>				
				<xs:element ref="applied-skus-rule"/>
				<xs:element ref="coupon-exceptions" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="coupon-codes-info">
		<xs:complexType>
			<xs:sequence>				
				<xs:element ref="coupon-code-info" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="coupon-code-info">
		<xs:complexType>
			<xs:sequence>				
				<xs:element ref="coupon-code" minOccurs="0"/>
				<xs:element ref="coupon-code-usage" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="coupon-code">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="coupon-code-usage">
		<xs:simpleType>
			<xs:restriction base="xs:int" />
		</xs:simpleType>
	</xs:element>					
	<xs:element name="coupon-exceptions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sku-id" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>			
	<xs:element name="minimal-amount">
		<xs:simpleType>
			<xs:restriction base="xs:decimal" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="usage-count-limit">
		<xs:simpleType>
			<xs:restriction base="xs:int" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="coupon-effective-date">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<!-- Already exists in user.xsd -->	
	<xs:element name="coupon-expiration-date">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="one-per-email">
		<xs:simpleType>
			<xs:restriction base="xs:boolean" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="apply-recurring-charges">
		<xs:simpleType>
			<xs:restriction base="xs:boolean" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="applicable-cycles">
		<xs:simpleType>
			<xs:restriction base="xs:int" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="applied-skus-rule">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="coupon-name">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="coupon-value">
		<xs:simpleType>
			<xs:restriction base="xs:decimal" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="coupon-discount-type">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="product-owner-id">
		<xs:simpleType>
			<xs:restriction base="xs:long" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="coupon-id">
		<xs:simpleType>
			<xs:restriction base="xs:long" />
		</xs:simpleType>
	</xs:element>	
	<xs:element name="coupon-display-name">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="price-discount">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="currency"/>
				<xs:element ref="amount"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="price-discounts">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="price-discount" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="coupon-price">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="price-discounts"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="coupon-percent">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="percent-discount"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>		
	<xs:element name="percent-discount">
		<xs:simpleType>
			<xs:restriction base="xs:decimal" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="coupon-discount-policy">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="coupon-discount-type"/>
				<xs:element ref="coupon-price" minOccurs="0"/>
				<xs:element ref="coupon-percent"  minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>																						
	<xs:element name="credit-card-info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="billing-contact-info" minOccurs="0" />
				<xs:element ref="credit-card" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="billing-contact-info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="first-name" minOccurs="0" />
				<xs:element ref="last-name" minOccurs="0" />
				<xs:element ref="address1" minOccurs="0" />
				<xs:element ref="address2" minOccurs="0" />
				<xs:element ref="city" minOccurs="0" />
				<xs:element ref="state" minOccurs="0" />
				<xs:element ref="zip" minOccurs="0" />
				<xs:element ref="country" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>	
	<xs:element name="credit-card">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="card-number" minOccurs="0" />
				<xs:element ref="encrypted-card-number" minOccurs="0" />
				<xs:element ref="card-last-four-digits" minOccurs="0"/>
				<xs:element ref="card-type" />
				<xs:element ref="expiration-month" minOccurs="0" />
				<xs:element ref="expiration-year" minOccurs="0" />
				<xs:element ref="security-code" minOccurs="0" />
				<xs:element ref="encrypted-security-code" minOccurs="0" />
				<xs:element ref="start-month" minOccurs="0" />
				<xs:element ref="start-year" minOccurs="0" />
				<xs:element ref="issue-number" minOccurs="0" />
				<xs:element ref="card-fingerprint" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="card-type">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="card-number">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="encrypted-card-number">
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
	<xs:element name="card-last-four-digits">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="card-fingerprint">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="security-code">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="encrypted-security-code">
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
	<xs:element name="expiration-month">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="expiration-year">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="start-year">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="start-month">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="issue-number">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="custom-parameter">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="custom-param-id" minOccurs="0"/>
				<xs:element ref="custom-param-title" />
				<xs:element ref="active" />
				<xs:element ref="mandatory" />
				<xs:element ref="custom-param-settings" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="custom-param-settings">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="custom-param-type" />
				<xs:element ref="short-text-type" />
				<xs:element ref="long-text-type" />
<!-- 				<xs:element ref="boolean-type" /> -->
 				<xs:element ref="fixed-selection-type" />
				<xs:element ref="merchant-value-type" />
<!-- 				<xs:element ref="read-only-type" /> -->
				<xs:element ref="visual-settings" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="short-text-type">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="minimum-length" />
				<xs:element ref="maximum-length" />
				<xs:element ref="regex-validation" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="long-text-type">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="minimum-length" />
				<xs:element ref="maximum-length" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="fixed-selection-type">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="drop-down-values" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="merchant-value-type">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="minimum-length" />
				<xs:element ref="maximum-length" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="visual-settings">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title-alignment" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="drop-down-values">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="drop-down-value" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="drop-down-value">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="custom-param-id">
		<xs:simpleType>
			<xs:restriction base="xs:long" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="custom-param-title">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="custom-param-type">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="mandatory">
		<xs:simpleType>
			<xs:restriction base="xs:boolean" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="custom-param-instructions">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="title-alignment">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="minimum-length">
		<xs:simpleType>
			<xs:restriction base="xs:decimal" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="maximum-length">
		<xs:simpleType>
			<xs:restriction base="xs:decimal" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="regex-validation">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="active">
		<xs:simpleType>
			<xs:restriction base="xs:boolean" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="ecps-info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ecp-info" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="ecp-info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="billing-contact-info" />
				<xs:element ref="ecp" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="ecp">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="account-number" />
				<xs:element ref="routing-number" />
				<xs:element ref="account-type" />
				<xs:element ref="public-account-number" />
				<xs:element ref="public-routing-number" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="account-number">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>	
	</xs:element>

	<xs:element name="account-type">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>	
	</xs:element>

	<xs:element name="routing-number">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>	
	</xs:element>

	<xs:element name="public-account-number">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>	
	</xs:element>

	<xs:element name="public-routing-number">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>	
	</xs:element>

	<xs:element name="sku-license">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sku-id"/>
				<xs:element ref="sku-name"/>
				<xs:element ref="license-key" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sku-download-link">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sku-id"/>
				<xs:element ref="sku-name"/>
				<xs:element ref="download-link" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="license-keys">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sku-license" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="download-links">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sku-download-link" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="fulfillment">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="license-keys" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="download-links" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="license-key">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="download-link">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="store-id">
		<xs:simpleType>
			<xs:restriction base="xs:long" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="quantity">
		<xs:simpleType>
			<xs:restriction base="xs:int" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="tax-included" type="xs:boolean" />
	<xs:element name="item-price">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="store-id" />
				<xs:element ref="quantity" />
				<xs:element ref="unit-price" />
				<xs:element ref="total-price" />
				<xs:element ref="total-price-with-tax" />
				<xs:element ref="tax" />
				<xs:element ref="tax-recurring" minOccurs="0"/>
				<xs:element ref="tax-rate" />
				<xs:element ref="country" />
				<xs:element ref="state" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="unit-price">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="charge-price" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="total-price">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="charge-price" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="total-price-with-tax">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="charge-price" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="charge-price">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="charge-type" />
				<xs:element ref="value" />
				<xs:element ref="currency" />
				<xs:element ref="formatted-price" />
				<xs:element ref="tax-included" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="charge-type">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="initial" />
				<xs:enumeration value="recurring" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="local-bank-transfer-info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="swift-code" />
				<xs:element ref="payment-reference" />
				<xs:element ref="additional-reference" />
				<xs:element ref="account-holder" />
				<xs:element ref="bank-name" />
				<xs:element ref="iban" />
				<xs:element ref="country-description" />
				<xs:element ref="status-id" minOccurs="0"/>
				<xs:element ref="bank-city" />
				<xs:element ref="bank-account-number" />								
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="swift-code">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="payment-reference">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="additional-reference">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="account-holder">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="bank-name">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="effort-id">
		<xs:simpleType>
			<xs:restriction base="xs:int" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="attempt-id">
		<xs:simpleType>
			<xs:restriction base="xs:int" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="iban">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="country-description">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="bank-city">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>	
	<xs:element name="status-id">
		<xs:simpleType>
			<xs:restriction base="xs:int" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="bank-account-number">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>	
	<xs:element name="message-value">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="name" type="xs:string"/>
	<xs:element name="messages">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="message" maxOccurs="unbounded"/>
				<xs:element ref="three-d-security-info" minOccurs="0"/>
				<xs:element ref="plimus-calculated-total" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="message">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="error-name" minOccurs="0"/>
				<xs:element ref="code" minOccurs="0"/>
				<xs:element ref="description"/>
				<xs:element ref="invalid-property" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="three-d-security-info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="payer-authentication-request"/>
				<xs:element ref="acs-link"/>
				<xs:element ref="transaction-id"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="plimus-calculated-total">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="price"/>
				<xs:element ref="cart"  minOccurs="0"/>
				<xs:element ref="subscription-payment"  minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="subscription-payment">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="coupons-total" minOccurs="0" />
				<xs:element ref="tax" minOccurs="0" />
				<xs:element ref="tax-rate" minOccurs="0" />
				<!-- <xs:element ref="tax-rate" minOccurs="0" /> -->
				<xs:element ref="charged-currency" />
				<xs:element ref="total-subscription-charge-cost" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="total-subscription-charge-cost">
		<xs:simpleType>
			<xs:restriction base="xs:decimal" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="payer-authentication-request">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="acs-link">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="invalid-property">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="message-value"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="error-name">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="description" type="xs:string"/>
	<xs:element name="code">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="order-history">

		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ordering-shopper" />
				<xs:element ref="past-orders" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="past-orders">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="url" minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="order" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="param-value">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="total-cart-cost">
		<xs:simpleType>
			<xs:restriction base="xs:decimal" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="tax">
		<xs:simpleType>
			<xs:restriction base="xs:decimal" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="tax-recurring">
		<xs:simpleType>
			<xs:restriction base="xs:decimal" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="tax-rate">
		<xs:simpleType>
			<xs:restriction base="xs:decimal" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="soft-descriptor">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="sku-parameter">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="param-name" />
				<xs:element ref="param-value" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="shopper-id">
		<xs:simpleType>
			<xs:restriction base="xs:long" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="ordering-shopper">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="shopper-id" minOccurs="0" />
				<xs:element ref="seller-shopper-id" minOccurs="0" />
				<xs:element ref="credit-card" minOccurs="0"/>
				<xs:element ref="ecp" minOccurs="0" />				
				<xs:element ref="invoice-contact-info" minOccurs="0" />
				<xs:element ref="paypal" minOccurs="0" />
				<xs:element ref="wire" minOccurs="0" />
				<xs:element ref="local-bank-transfer" minOccurs="0" />
				<xs:element ref="web-info" minOccurs="0" />
				<xs:element ref="three-d-authenticated-info" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="local-bank-transfer">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bank-country" minOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>	
	<xs:element name="post-sale-info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="invoice-id" minOccurs="0" />
				<xs:element ref="invoice-status" minOccurs="0" />
				<xs:element ref="soft-descriptor" minOccurs="0" />
				<xs:element ref="invoices"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="invoices">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="invoice" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="invoice">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="invoice-id"/>
				<xs:element ref="url"/>
				<xs:element ref="financial-transactions"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="financial-transactions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="financial-transaction" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="financial-transaction">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="status"/>
				<xs:element ref="date-due"/>
				<xs:element ref="date-created"/>
				<xs:element ref="amount"/>
				<xs:element ref="tax" minOccurs="0"/>
				<xs:element ref="tax-rate" minOccurs="0"/>
				<xs:element ref="currency"/>
				<xs:element ref="soft-descriptor"/>
				<xs:element ref="payment-method"/>
				<xs:element ref="target-balance"/>
				<xs:element ref="credit-card"/>
				<xs:element ref="paypal-transaction-data" minOccurs="0" />
				<xs:element ref="ecp" minOccurs="0"/>
				<xs:element ref="invoice-contact-info"/>
				<xs:element ref="skus"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="skus">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sku" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="status">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="date-due">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="date-created">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="payment-method">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="invoice-status">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="order">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="order-id" />
				<xs:element ref="soft-descriptor" minOccurs="0" />
				<xs:element ref="ordering-shopper" />
				<xs:element ref="transaction-payment-info" minOccurs="0"/>	
				<xs:element ref="cart" />
				<xs:element ref="expected-total-price" minOccurs="0" />
				<xs:element ref="affiliate-id" minOccurs="0" maxOccurs="1" />
				<xs:element ref="post-sale-info" minOccurs="0" />
				<xs:element ref="fulfillment" minOccurs="0" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="param-name">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="item-sub-total">
		<xs:simpleType>
			<xs:restriction base="xs:decimal" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="item-coupon-total">
		<xs:simpleType>
			<xs:restriction base="xs:decimal" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="item-total">
		<xs:simpleType>
			<xs:restriction base="xs:decimal" />
		</xs:simpleType>
	</xs:element>		
	<xs:element name="invoice-id">
		<xs:simpleType>
			<xs:restriction base="xs:long" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="order-id">
		<xs:simpleType>
			<xs:restriction base="xs:long" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="affiliate-id">
		<xs:simpleType>
			<xs:restriction base="xs:long" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="expected-total-price">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="amount" />
				<xs:element ref="currency" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="transaction-payment-info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="paypal-info" minOccurs="0"/>
				<xs:element ref="local-bank-transfer-info" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="coupons">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="coupon" maxOccurs="unbounded" />
				<xs:element ref="coupons-total" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="coupon">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="cdod" type="xs:boolean" />
	<xs:element name="edw-duration">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="1" />
				<xs:enumeration value="2" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="charged-currency">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="cart-item">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sku" />
				<xs:element ref="quantity" />
				<xs:element ref="sku-parameter" minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="url" minOccurs="0" />				
				<xs:element ref="item-sub-total" minOccurs="0" />
				<xs:element ref="item-coupon-total" minOccurs="0" />
				<xs:element ref="item-total" minOccurs="0" />				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="cart">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="charged-currency" minOccurs="0" />
				<xs:element ref="cart-item" maxOccurs="unbounded" />
				<xs:element ref="coupons" minOccurs="0" />
				<xs:element ref="edw-duration" minOccurs="0" />
				<xs:element ref="cdod" minOccurs="0" />
				<xs:element ref="tax" minOccurs="0" />
				<xs:element ref="tax-rate" minOccurs="0" />
				<xs:element ref="total-cart-cost" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="coupons-total">
		<xs:simpleType>
			<xs:restriction base="xs:decimal" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="url">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="target-balance">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="bank-country">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>	
	<xs:element name="wire">
    <xs:complexType>
    </xs:complexType>
  </xs:element>
	<xs:element name="seller-shopper-id">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="param-decryption">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="encrypted-token" minOccurs="0" />
				<xs:element ref="decrypted-token" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="decrypted-token">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="param-encryption">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="encrypted-token" minOccurs="0" />
				<xs:element ref="parameters" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="parameters">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="parameter" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="parameter">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="param-key"/>
				<xs:element ref="param-value"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="encrypted-token">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="param-key">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="paypal-info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="url" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="paypal">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="paypal-transaction-data">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="pp-transaction-id" minOccurs="0" />
				<xs:element ref="pp-subscription-id" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="pp-transaction-id">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
		<xs:element name="paypal-subscription">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="pp-subscription-id" />
				<xs:element ref="pp-original-transaction-id" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="pp-subscription-id">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
		<xs:element name="pp-original-transaction-id">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="value">
		<xs:simpleType>
			<xs:restriction base="xs:decimal"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="symbol">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="price">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="value"/>
				<xs:element ref="currency"/>
				<xs:element ref="formatted-price" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="iso">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="formatted-price">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="iso"/>
				<xs:element ref="symbol"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="amount">
		<xs:simpleType>
			<xs:restriction base="xs:decimal"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="currency">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="product">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="product-id" minOccurs="0"/>
				<xs:element ref="product-status" />
				<xs:element ref="product-name" />
				<xs:element ref="product-short-description" />
				<xs:element ref="product-long-description" />
				<xs:element ref="product-info-url" />
				<xs:element ref="product-image" />
				<xs:element ref="product-merchant-descriptor" />
				<xs:element ref="product-support-email" />
				<xs:element ref="product-skus" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="product-skus">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="url" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="product-id">
		<xs:simpleType>
			<xs:restriction base="xs:long" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="product-name">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="product-short-description">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="product-long-description">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="product-info-url">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="product-image">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="product-merchant-descriptor">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="product-support-email">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="product-status">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="shopper-subscriptions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ordering-shopper" />
				<xs:element ref="subscriptions" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="subscriptions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="url" minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="subscription" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="vat-code">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="shopper-currency">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="locale">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="permitted-future-charges">
		<xs:simpleType>
			<xs:restriction base="xs:boolean" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="title">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="username">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="password">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="shopper-info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="shopper-id" minOccurs="0" />
				<xs:element ref="seller-shopper-id" minOccurs="0" />
				<xs:element ref="username" minOccurs="0" maxOccurs="1" />
				<xs:element ref="password" minOccurs="0" maxOccurs="1" />
				<xs:element ref="shopper-contact-info" minOccurs="0" />
				<xs:element ref="shipping-contact-info" minOccurs="0" />
				<xs:element ref="invoice-contacts-info" minOccurs="0" maxOccurs="1" />
				<xs:element ref="payment-info" minOccurs="0" />
				<xs:element ref="store-id" minOccurs="0" />
				<xs:element ref="vat-code" minOccurs="0" />
				<xs:element ref="shopper-currency" minOccurs="0" />
				<xs:element ref="locale" minOccurs="0" />
				<xs:element ref="permitted-future-charges" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="shopper-contact-info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title" minOccurs="0" />
				<xs:element ref="first-name" minOccurs="0" />
				<xs:element ref="last-name" minOccurs="0" />
				<xs:element ref="email" minOccurs="0" />
				<xs:element ref="company-name" minOccurs="0" />
				<xs:element ref="address1" minOccurs="0" />
				<xs:element ref="address2" minOccurs="0" />
				<xs:element ref="city" minOccurs="0" />
				<xs:element ref="state" minOccurs="0" />
				<xs:element ref="zip" minOccurs="0" />
				<xs:element ref="country" minOccurs="0" />
				<xs:element ref="phone" minOccurs="0" />
				<xs:element ref="fax" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="shopper">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="shopper-info" />
				<xs:element ref="web-info" minOccurs="0" maxOccurs="1" />
				<xs:element ref="three-d-authenticated-info" minOccurs="0"
					maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="shipping-contact-info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="first-name" minOccurs="0" />
				<xs:element ref="last-name" minOccurs="0" />
				<xs:element ref="address1" minOccurs="0" />
				<xs:element ref="address2" minOccurs="0" />
				<xs:element ref="city" minOccurs="0" />
				<xs:element ref="state" minOccurs="0" />
				<xs:element ref="zip" minOccurs="0" />
				<xs:element ref="country" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="invoice-contacts-info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="invoice-contact-info" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="invoice-contact-info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="default" minOccurs="0" />
				<xs:element ref="vat-code" minOccurs="0" />
				<xs:element ref="title" minOccurs="0" />
				<xs:element ref="first-name" minOccurs="0" />
				<xs:element ref="last-name" minOccurs="0" />
				<xs:element ref="email" minOccurs="0" />
				<xs:element ref="company-name" minOccurs="0" />
				<xs:element ref="address1" minOccurs="0" />
				<xs:element ref="address2" minOccurs="0" />
				<xs:element ref="city" minOccurs="0" />
				<xs:element ref="state" minOccurs="0" />
				<xs:element ref="zip" minOccurs="0" />
				<xs:element ref="country" minOccurs="0" />
				<xs:element ref="phone" minOccurs="0" />
				<xs:element ref="fax" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="default">
		<xs:simpleType>
			<xs:restriction base="xs:boolean" />
		</xs:simpleType>
	</xs:element> 
	<xs:element name="phone">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="payment-info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="credit-card-info" minOccurs="0" />
				<xs:element ref="credit-cards-info" minOccurs="0" maxOccurs="1" />
				<xs:element ref="ecps-info" minOccurs="0" maxOccurs="1" />
				<xs:element ref="balance" minOccurs="0" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="credit-cards-info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="credit-card-info" minOccurs="0"
					maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="balance">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="currency" />
				<xs:element ref="value" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="id">
		<xs:simpleType>
			<xs:restriction base="xs:long" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="fax">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="email">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="company-name">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="step">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="buynow-sso-token">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="shopper-details">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="shopper" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="order-details">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="order" minOccurs="0"/>
				<xs:element ref="order-id" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="shopping-context">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="step" />
				<xs:element ref="buynow-sso-token" minOccurs="0"/>
				<xs:element ref="web-info" />
				<xs:element ref="shopper-details" minOccurs="0" />
				<xs:element ref="order-details" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sku">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sku-id" />
				<xs:element ref="sku-name" minOccurs="0" />
				<xs:element ref="sku-charge-price" minOccurs="0"
					maxOccurs="2" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sku-charge-price">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="charge-type" />
				<xs:element ref="amount" />
				<xs:element ref="currency" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sku-id">
		<xs:simpleType>
			<xs:restriction base="xs:long" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="sku-name">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="contract-name">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="sku-status">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="subscription-charge">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="charge-info" />
				<xs:element ref="sku-charge-price" minOccurs="0"/>
				<xs:element ref="expected-total-price" minOccurs="0"/>
				<xs:element ref="charge-invoice-info" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="charge-info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="charge-description" />
				<xs:element ref="from-date"  minOccurs="0" />
				<xs:element ref="to-date"  minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="charge-invoice-info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="date-created" />
				<xs:element ref="invoice-id"  />
				<xs:element ref="invoice-amount"/>
				<xs:element ref="invoice-currency" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="charge-description">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="from-date">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="to-date">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
		<xs:element name="invoice-amount">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
		<xs:element name="invoice-currency">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="subscription">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="subscription-id" />
				<xs:element ref="status" />
				<xs:element ref="cancellation-reason" minOccurs="0" />
				<xs:element ref="underlying-sku-id" />
				<xs:element ref="shopper-id" />
				<xs:element ref="recurring-charge" minOccurs="0" />
				<xs:element ref="credit-card" minOccurs="0" />	
				<xs:element ref="ecp" minOccurs="0" />
				<xs:element ref="paypal" minOccurs="0" />
				<xs:element ref="paypal-subscription" minOccurs="0" />
				<xs:element ref="catalog-recurring-charge" minOccurs="0" />
				<xs:element ref="override-recurring-charge" minOccurs="0" />
				<xs:element ref="coupon" minOccurs="0" />
				<xs:element ref="charge-frequency" minOccurs="0"/>
				<xs:element ref="next-charge-date" />
				<xs:element ref="manual-recurring-info" minOccurs="0"/>
				<xs:element ref="auto-renew" minOccurs="0"/>
				<xs:element ref="last-charge-result" minOccurs="0"/>
				<xs:element ref="subscription-charges" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="subscription-id">
		<xs:simpleType>
			<xs:restriction base="xs:long" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="underlying-sku-id">
		<xs:simpleType>
			<xs:restriction base="xs:long" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="recurring-charge">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="currency" />
				<xs:element ref="amount" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="next-charge-date">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
		<xs:element name="catalog-recurring-charge">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="currency" />
				<xs:element ref="amount" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="override-recurring-charge">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="currency" />
				<xs:element ref="amount" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="charge-frequency">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>	
	<xs:element name="auto-renew" type="xs:boolean" />
	<xs:element name="last-charge-result">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="result-code" />
				<xs:element ref="processor-error-message" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="manual-recurring-info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="original-reference-number" minOccurs="0"/>
				<xs:element ref="reminder-number" minOccurs="0"/>
				<xs:element ref="payment-method" minOccurs="0"/>
				<xs:element ref="next-payment-url" minOccurs="0"/>
				<xs:element ref="days-till-cancel" minOccurs="0"/>
				<xs:element ref="days-till-payment" minOccurs="0"/>
				<xs:element ref="email-sent" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="days-till-cancel">
		<xs:simpleType>
			<xs:restriction base="xs:long" />
		</xs:simpleType>
	</xs:element>
		<xs:element name="days-till-payment">
		<xs:simpleType>
			<xs:restriction base="xs:long" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="original-reference-number">
		<xs:simpleType>
			<xs:restriction base="xs:long" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="next-payment-url">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="reminder-number">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="email-sent">
		<xs:simpleType>
			<xs:restriction base="xs:boolean"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="subscription-charges">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="url" minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="subscription-charge" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="result-code">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="processor-error-message">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="cancellation-reason">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="three-d-authenticated-info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="transaction-id" />
				<xs:element ref="payer-authentication-response" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="transaction-id">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="payer-authentication-response">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="web-info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ip" maxOccurs="1" />
				<xs:element ref="remote-host" minOccurs="0" maxOccurs="1" />
				<xs:element ref="user-agent" minOccurs="0" maxOccurs="1" />
				<xs:element ref="accept-language" minOccurs="0"
					maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ip">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="remote-host">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="user-agent">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="accept-language">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="cart-info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cart-params" maxOccurs="1" />
				<xs:element ref="cart" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="cart-params">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="currency" />
				<xs:element ref="ip" />
				<xs:element ref="country" />
				<xs:element ref="state" />
				<xs:element ref="store-id" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
